/* _content/SingUpTest/Pages/SEPSignUp.razor.rz.scp.css */
/*whole container*/
.form-content[b-d8fwgfsd3g] {
    background: #fff;
    width: 1000px;
    height: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    margin: 70px auto;
}


/*steps*/
.steps-container[b-d8fwgfsd3g] {
    background-color: #3e4061;
    border-radius: 25px;

}

.step-text[b-d8fwgfsd3g] {
    color: #ffffff;
    padding: 25px 0 8px;
    font-size: 15px;
    /*font-weight: bold;*/
}


.step[b-d8fwgfsd3g] {
    padding: 7px 0;
}

.step:hover[b-d8fwgfsd3g] {
    cursor: pointer;
}

.step[b-d8fwgfsd3g]::after {
    width: 250px;
    height: 1px;
    content: "  ";
    background: rgba(255, 255, 255, 0.08);
    position: absolute;
    left: -1px;
}


.icon-image[b-d8fwgfsd3g] {
    margin-top: 5px;
    width: 30px;
}

/*input field css*/
.section-description[b-d8fwgfsd3g] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.heading[b-d8fwgfsd3g] {
    font-size: 22px;
    color: #333;
    font-weight: 700;
    margin: 0;
}

.heading-subtext[b-d8fwgfsd3g] {
    color: #666;
    font-size: 14px;
    margin-top: 2px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.form-container[b-d8fwgfsd3g] {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0;
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}

.form-container .title[b-d8fwgfsd3g] {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 25px;
}

.form-container .title[b-d8fwgfsd3g]:after {
    content: '';
    background-color: #00A9EF;
    height: 3px;
    width: 60px;
    margin: 10px 0 0;
    display: block;
    clear: both;
}

.sub-title[b-d8fwgfsd3g] {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.form-horizontal[b-d8fwgfsd3g] {
    font-size: 0;
}

.form-group[b-d8fwgfsd3g] {
    color: #333;
    width: 50%;
    padding: 0 8px;
    margin: 0 0 15px;
    display: inline-block;
}


.form-group label[b-d8fwgfsd3g] {
    font-size: 17px;
    font-weight: 600;
}

.form-control[b-d8fwgfsd3g] {
    color: #888;
    background: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    box-shadow: none;
}

.form-control:focus[b-d8fwgfsd3g] {
    box-shadow: 0 0 5px #dcdcdc;
}


.form-container .signin-link[b-d8fwgfsd3g] {
    color: #333;
    font-size: 14px;
    width: 75%;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
}

.form-container .signin-link a[b-d8fwgfsd3g] {
    color: #00A9EF;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

/*card css*/
/*.card {
    position: relative;
    width: 500px;
    height: 350px;
    background: #fcfcfc;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    margin: 30px;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
    pointer-events: none;
}

.logo {
    position: absolute;
    top: 130px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #ea222c;
    border-radius: 50%;
    box-shadow: -40px 0 0 rgba(255, 164, 36, 0.5);
}

.chip {
    position: absolute;
    max-width: 70px;
}

.bankName {
    color: #999;
    text-align: end;
    outline: none;
    width: 100%;
    font-size: 1.5em;
}
.card form {
    margin-top: 45px;
}

.card .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card .inputBox span {
    color: #089cff;
    font-size: 1.1em;
}

!*
.card .inputBox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.8em;
    font-family: 'Share Tech Mono', monospace;
}
*!

.card .group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

/*.card .group .inputBox:last-child {
    max-width: 60px;
}*/


/* button css */
.signup[b-d8fwgfsd3g] {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    max-width: 480px;
    overflow: hidden;
    padding: 10px 20px;
    text-align: center;
}

.signup:hover[b-d8fwgfsd3g],
.signup:focus[b-d8fwgfsd3g] {
    background-color: #16437E;
    color: #ffffff;
}
/* _content/SingUpTest/Pages/SignUp.razor.rz.scp.css */
/* _content/SingUpTest/Shared/MainLayout.razor.rz.scp.css */
.page[b-dgup8b2l2b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dgup8b2l2b] {
    flex: 1;
}

.sidebar[b-dgup8b2l2b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dgup8b2l2b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dgup8b2l2b]  a, .top-row .btn-link[b-dgup8b2l2b] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dgup8b2l2b] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dgup8b2l2b] {
        display: none;
    }

    .top-row.auth[b-dgup8b2l2b] {
        justify-content: space-between;
    }

    .top-row a[b-dgup8b2l2b], .top-row .btn-link[b-dgup8b2l2b] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dgup8b2l2b] {
        flex-direction: row;
    }

    .sidebar[b-dgup8b2l2b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dgup8b2l2b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-dgup8b2l2b], article[b-dgup8b2l2b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SingUpTest/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3qxcsvt2vc] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-3qxcsvt2vc] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-3qxcsvt2vc] {
    font-size: 1.1rem;
}

.oi[b-3qxcsvt2vc] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-3qxcsvt2vc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-3qxcsvt2vc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-3qxcsvt2vc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-3qxcsvt2vc]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-3qxcsvt2vc]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-3qxcsvt2vc]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-3qxcsvt2vc] {
        display: none;
    }

    .collapse[b-3qxcsvt2vc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-3qxcsvt2vc] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
